* {
  box-sizing: border-box;
}

.color {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  display: inline-block;
}

.moreColor {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  display: inline-block;
}

#pixel-board {
  width: 200px;
  display: inline-block;
  line-height: 0;
  background-color: gray;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
  border: solid black 1px;
}

#clear-board {
  width: 80px;
  height: 30px;
}

#board-size {
  width: 80px;
  height: 30px;
}

#generate-board {
  width: 80px;
  height: 30px;
}
